@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Russo+One&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-size: 14px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Noto Sans KR", -apple-system, SD Gothic Neo, sans-serif;
    font-size: 14px;
    color: #121F34;
    -webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, textarea, select {
    font-family: "Noto Sans KR", -apple-system, SD Gothic Neo, sans-serif;
    outline: none;
    border: 0;
    box-sizing: border-box;
}
button, a[role="button"] {
    cursor:pointer;
}

a { 
    text-decoration: none;
}
/* common style */

.blind {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: -1px;
    clip: rect(0 0 0 0);
}
.point {
    color: #103595;
}
.temp {
    color: #FF3A4A !important;
}


input[type="text"], input[type="password"], input[type="tel"] {
    height: 48px;
    border-radius:8px;
    padding: 0 12px;
    border:1px solid #B8BCC2;
    width: 100%;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #B8BCC2;
}

input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="tel"]:read-only {
    background-color:#F3F4F5;
    border: none;
    color: #A0A5AE;
    text-align:center;
}

input[type="checkbox"],
input[type="radio"]{
    overflow: hidden;
    position: absolute;
    left:-999999px;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: -1px;
    clip: rect(0 0 0 0);
}
input[type="checkbox"] + label {
    display:inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
input[type="checkbox"] + label:before {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url('../images/checkbox.png') no-repeat 50% 50%;
    background-size: 100%;
}
input[type="checkbox"]:checked + label:before {
    background: url('../images/checkbox_checked.png') no-repeat 50% 50%;
    background-size: 100%;
}
input[type="radio"] + label {
    display:inline-flex;
    align-items: center;
    gap: 4px;
    position:relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
input[type="radio"] + label:before {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url('../images/checkbox.png') no-repeat 50% 50%;
    background-size: 100%;

}
input[type="radio"]:checked + label:before {
    background: url('../images/radio_checked.png') no-repeat 50% 50%;
    background-size: 100%;
}


.custom-select{
    display:flex;
    line-height: 46px;
    height: 48px;
    border-radius:8px;
    padding: 0 12px;
    border:1px solid #B8BCC2;
    width: 100%;
    font-size: 16px;
    background: url('../images/arr_select.png') no-repeat calc(100% - 12px) 50%;
    background-size: 24px;
    appearance: none;
    color: #121F34;
}
.custom-select.active {
    background-image: url('../images/arr_select_active.png');    
}

.custom-select .placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    color: #B8BCC2;
}

.btn-area {
    display:flex;
    gap: 10px;
}
.btn-area.group button:first-child {
    flex:0 0 110px;
}
.btn-area.group button:last-child {
    flex: auto;
}

.btn-point {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius:  8px;
    background-color: #103595;
    color:#fff;
    font-size: 16px;
    width: 100%;
}
.btn-point:disabled {
    background-color: #BCB9FF;
}

.btn-point.round {
    border-radius: 22px;
}

.btn-basic {
    height: 44px;
    border-radius:  8px;
    background-color: #fff;
    color: #344054;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    border:1px solid #D0D5DD;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;  
}

.wrap {
    width: 100%;
    height: 100%;
} 

.scroll-block  {
    overflow: hidden;
}
.scroll-block .wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    position: relative;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header .btn-back {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 12px;
    top: 0;
    background: url('../images/btn_back.png') no-repeat 50% 50%;
    background-size: 100%;
}

.header .header-title {
    font-weight: 600;
    font-size: 16px;
    line-height:24px;
}

.contents .agreement {
    padding:0 20px;
}

.btn-area {
    padding: 20px;
}
.btn-area.col {
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.agreement-desc {

    padding: 66px 0 32px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.agreement-desc .logo-cln {
    width: 72px;
    height: 72px;
    background: url('../images/logo_clooney.png') no-repeat 50% 50%;
    background-size: 100%;
    margin-bottom: 18px;
}

.logo-pet {
    margin-bottom: 18px;
}
.logo-pet h1 {
    font-size: 24px;
    color: #103595;
    font-family: "Russo One", sans-serif;
}

.agreement-desc .text {
    color: #596271;
    line-height: 22px;
    text-align:center;
    font-size: 14px;
}

.agreement-list .all {
    border: 1px solid #E7E9EB;
    height: 56px;
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 24px;
}

.agreement-list .custom-checkbox label {
    font-weight: 500;
    color: #414C5D;
}

.agreement-list .btn-detail {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url('../images/btn_detail.png') no-repeat 50% 50%;
    background-size: 100%;
}
.agreement-list ul {
    margin-top: 8px;
}

.agreement-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 40px;
}
.agreement-list li + li {
    margin-top: 4px;
}

.terms {
    width:100%;
    height: 100%;
    background-color:#fff;
    position:relative;
}

.terms .btn-cls {
    width: 24px;
    height: 24px;
    background: #fff url('../images/btn_close.png') no-repeat 50% 50%;
    background-size: 100%;
    position:fixed;
    right: 20px;
    top: 8px;
}
.terms .terms-header {
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    height: 40px;
    background-color:#fff;
}
.terms .terms-title {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    line-height: 24px;
}

.terms .terms-text {
    padding: 60px 20px 90px;
    line-height: 22px;
}

.btm-fixed {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition:all 300ms;
}
.btm-fixed.up {
    bottom: 0;
}

.btm-fixed.down {
   bottom: -100%;
}




 .btm-fixed:before {
    content: '';
    display:block;
    height: 34px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 71%, #FFFFFF 100%);
    position: absolute;
    left: 0;
    top: -34px;
}
.btm-fixed .btn-area {
    background-color:#fff;
    padding:0 20px 20px;
}

.content-title {
    padding: 20px;
}
.content-title h2 {
    font-weight: 500;
    font-size: 20px;
    color: #103595;
    line-height: 28px;
    margin-bottom: 4px;
}
.content-title .text {
    line-height: 22px;
    font-size:14px;
}
.content-title .text .temp {
    text-decoration: underline;
}
.form-wrap {
    padding:0  20px 80px;
}

.form-list .form-item {
    padding: 10px 0;
}
.form-list .form-item .item-label {
    margin-bottom: 8px;
} 
.form-list .form-item .item-label .title {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #414C5D;
}

.form-list .form-item .item-label .title.required:after {
    content:'';
    display:inline-block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #E53935;
    position:relative;
    top:4px; 
    margin-left: 3px;
}
.form-list .form-item .item-input.tel {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.form-list .form-item .item-input.tel input {
    flex: auto;
}
.form-list .form-item .item-input.tel input:first-child {
    flex: 0 0 88px;
}
.form-list .form-item .tip-text {
    font-weight: 500;
    font-size: 12px;
    color:#888F99;
    margin-top: 8px;
    line-height: 18px;
} 
.form-wrap .check-history {
    padding:8px 14px;
    margin: 16px 0 20px;
}
.layer-popup {
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.4);
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding:0 20px;
    display: none;
}
.layer-popup .layer-content {
    background-color:#fff;
    width: 100%;
    padding:56px 16px 16px;
    border-radius: 12px;
    position:relative;
}
.layer-popup .layer-title {
    text-align:center;
    padding: 10px 0;
}
.layer-popup .layer-title .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color:#101828
}
.layer-popup .layer-title .text {
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}
.layer-popup .btn-area {
    padding:24px 0 16px;
}

.layer-popup .btn-cls {
    width: 24px;
    height: 24px;
    background: #fff url('../images/btn_close.png') no-repeat 50% 50%;
    background-size: 100%;
    position:absolute;
    right: 16px;
    top: 16px;
}

.qr-area {
    padding: 20px;
}
.qr-area .qr-image {
    padding: 17px;
    margin-bottom: 16px;
}
.qr-area .qr-image img {
    width: 100%;
}
.qr-area .pet-name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.qr-area .date {
    line-height: 30px;
    font-size: 18px;
    color: #888F99;
    text-align: center;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    
}
.loading .loading-inner {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
@keyframes loading-rotate {
    to {
        transform: rotate(360deg)
    }
}

.loading .circle {
    animation: loading-rotate 1s linear infinite;
}

